@model OpponentBindingModel
@{
    string rowId = "opponent-row-" + Model.Id;
    using (Ajax.BeginForm("EditOpponent", "Admin", updateId: rowId))
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Experience</th>
                    <th>Max Health</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @Html.HiddenFor(m => Model.Id)
                    @Html.AntiForgeryToken()
                    <td>@Html.EditorFor(m => Model.Name)</td>
                    <td>@Html.EditorFor(m => Model.Level)</td>
                    <td>@Html.EditorFor(m => Model.Experience)</td>
                    <td>@Html.EditorFor(m => Model.MaxHealth)</td>
                    <td>
                        <input class="btn btn-primary" type="submit" value="Save" />
                    </td>
                </tr>
            </tbody>
        </table>
    }
}
