@model UserBindingModel
@{
    string rowId = "user-row-" + Model.Id;
    using (Ajax.BeginForm("EditUser", "Admin", updateId: rowId))
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Display Name</th>
                    <th>User Name</th>
                    <th>Experience</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @Html.HiddenFor(m => Model.Id)
                    @Html.AntiForgeryToken()
                    <td>@Html.EditorFor(m => Model.DisplayName)</td>
                    <td>@Html.EditorFor(m => Model.UserName)</td>
                    <td>@Html.EditorFor(m => Model.Experience)</td>
                    <td>
                        <input class="btn btn-primary" type="submit" value="Save" />
                    </td>
                </tr>
            </tbody>
        </table>
    }
}
