@model HomePageViewModel
@{ 
    Model.AllUserScores.Sort((a, b) => a.Total < b.Total ? 1 : -1);
    Model.AllGladiatorScores.Sort((a, b) => a.Total < b.Total ? 1 : -1);
}
<div class="col-sm-4">
    <h2>Gladiators</h2>
    @foreach (Gladiator gladiator in Model.Gladiators)
    {
        @Html.Partial("_GladiatorDisplay", new GladiatorDisplayViewModel { Gladiator = gladiator, ShowHPBar = true, ShowExpBar = true, ShowLevel = true })
    }
</div>
<div class="col-sm-4">
    <h2>High Scores</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>User</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 5 && i < Model.AllUserScores.Count; i++)
            {
                UserScore score = Model.AllUserScores[i];
                <tr>
                    <td>@score.User.DisplayName</td>
                    <td>@score.Total</td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Gladiator</th>
                <th>Score</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 5 && i < Model.AllGladiatorScores.Count; i++)
            {
                GladiatorScore score = Model.AllGladiatorScores[i];
                <tr>
                    <td>@score.Gladiator.Name</td>
                    <td>@score.Total</td>
                    <td>@score.Gladiator.Owner.DisplayName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-sm-4">
    <h2>Your Stats</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>You</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.User.DisplayName</td>
                <td>@Model.User.Score.Total</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>
